.footer{
    padding: 70px;
    background-color: #2c2b2b;
    text-align: center;
    text-decoration: none;
}

.footer .list-inline i {
  color: #1CDD87;
  font-size: 35px;
}

.footer p i {
    color: red;
  }

.footer p {
    color: lightgray;
    opacity: 70%;
  }